img.Testimonials-card__client-image{
  width: 45px;
  height: 45px;
  border-radius: 23px;
}

section.Testimonials-testimonials-wrapper{
  display:flex;
  flex-direction:column;
  gap:25px;
  padding:0 60px 40px;
}

h1.Testimonials-preaheading,
h2.Testimonials-heading{
  align-self: center;
  justify-self: center;
}

h1.Testimonials-preaheading {
  color: #ff5300;
  font-size: 14px;
  position: relative;
}

h1.Testimonials-preaheading::before {
  content: "";
  border: 1px solid #ff5300;
  transform: rotate(180deg);
  position: absolute;
  width: 33px;
  left: -50px;
  top: 5px;
}

h1.Testimonials-preaheading::after {
  content: "";
  transform: rotate(180deg);
  border: 1px solid #ff5300;
  position: absolute;
  width: 33px;
  right: -50px;
  top: 5px;
}




h2.Testimonials-heading {
  font-size: 35px;
  font-weight: 600;
  margin-top: 22px;
}

div.Testimonials-cards__wrapper{
  display: flex;
  flex-direction: row;
  gap:12px;
  margin-top:24px;
}

div.Testimonials-card__wrapper{
  display:flex;
  flex-direction: column;
  gap:7px;
  padding:18px;
  box-shadow:0px 0px 1px #aba8ab;
}

div.Testimonials-card__client{
  display: flex;
  flex-direction: row;
  gap:14px;
  margin-top:16px;
  align-items: center;
  justify-content: space-between;
}

div.Testimonials-card__client-info-wrapper{
display: flex;
flex-direction: column;
gap:12px;
text-align: left;
}

div.Testimonials-card__raiting{
  color:#ff5300;
}

p.Testimonials-card__text{
  color:#7b7b7b;
  line-height: 18px;
  font-size:13px;
}

h1.Testimonials-card__client-info__name{
  color:#ff5300;
  font-size:15px;
}
p.Testimonials-card__client-info__tittle{
  color:#7b7b7b;
  font-size:12px;
}

/* Testimonials Mobile service */

@media only screen and (max-width:768px){
  section.Testimonials-testimonials-wrapper{
    padding:0 45px 40px;
  }
  h2.Testimonials-heading{
    text-align: center;
  }
  
  div.Testimonials-cards__wrapper{
    flex-wrap: wrap;
  }
}